:root {
  --body-font-family: "Playfair Display", sans-serif;
  --body-font-font-style: normal;
  --body-font-font-weight: 400;
  --body-font-text-transform: none;
  --body-font-letter-spacing: 0.08em;

  --primary-color: #f9f8f7;
  --secondary-color: #99b1ab;
  --third-color: #e8f5e9;
  --fourth-colour: #005156;
  --fifth-colour: #ffae3b;
  --footer-color: #111820;
  --box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
}

body {
  margin: 0;
  background: var(--primary-color);
  font-family: var(--body-font-family);
  font-weight: 400;
  letter-spacing: 0.08em;
  line-height: 1.4em;
  color: var(--footer-colour);
}

section {
  max-width: 100%;
  margin: 0 auto;
}

.container {
  max-width: 1600px;
  margin: 0 auto;
  background: var(--primary-color);
  /* text-align: center; */
}

a {
  text-decoration: none;
  color: var(--secondary-color);
}

header {
  /* linear gradient? */
  background-image: linear-gradient(rgba(0,0,0, 0.1), rgba(204,219, 220, 0.5)), url("./images/header.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 50px;
  padding-bottom: 150px;
}

h1 {
  font-family: var(--body-font-family);
  font-weight: 400;
  letter-spacing: 0.1em;
  line-height: 1.4em;
  color: var(--secondary-color);
  text-align: center;
}

h2 {
  color: var(--footer-colour);
}

img {
  max-width: 500px;
  max-height: 500px;
  width: 100%;
  height: 100%;
  object-fit: cover;
  /* border-style: solid; */
}
.img-responsive {
  max-width: 100%;
}

/* header */
header h1 {
  color: var(--footer-color);
}

header h2 {
  color: var(--footer-color);
  padding: 50px;
  font-weight: 200;
}

button {
  margin: 0 auto;
  padding: 15px;
  display: block;
  border-style: solid;
  border-color: var(--footer-color);
  color: var(--footer-color);
}

button:hover {
  background-color: var(--secondary-color);
}

button:hover a {
  color: var(--primary-color);
}
/* header */

/* introduction */
hr {
  border-style: solid;
}

.grid {
  display: grid;
}

.grid-intro {
  grid-template-columns: 1fr 1fr;
  margin-top: 25px;
  margin-bottom: 25px;
}

.intro-para {
  margin-left: 20px;
}

/* introduction */

/* about */
.about-text {
  background: var(--secondary-color);
  padding: 100px 10px;
  line-height: 2em;
  text-align: justify;
}
/* about */

/* gallery */
.grid-gallery {
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  grid-gap: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
}
/* gallery */

/* recommendations */
.grid-local {
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 5px;
}
section.recommendations {
  background-color: var(--third-color);
  padding-top: 25px;
  padding-bottom: 125px;
}
.card {
  /* border-style: solid; */
  background: var(--primary-color);
  /* padding-top: 5px; */
  padding-bottom: 150px;
}
.card h3,
.card p {
  color: var(--footer-color);
  text-align: center;
}
/* recommendations */

/* video */
.video {
  width: 100%;
  aspect-ratio: 21/9;
  border-style: solid;
  border-color: var(--secondary-color);
  margin-top: 10px;
}
/* video */

/* maps */
.map {
  width: 100%;
  height: 100%;
  object-fit: cover;
  aspect-ratio: 1/1;
}

.grid-map {
  grid-template-columns: 1fr 1fr;
}

.grid-map .box {
  border-style: solid;
  border-width: 3px;
  text-align: center;
}

#gettingHere {
  text-align: center;
  padding-top: 10px;
  padding-bottom: 30px;
}
/* maps */

/* footer */
footer {
  padding: 25px;
  background: var(--footer-color);
  color: var(--primary-color);
  text-align: left;
  font-weight: 300;
  font-size: x-small;
}

footer a,
footer h3 {
  color: var(--primary-color);
  font-weight: 100;
}

footer h2 {
  font-size: x-large;
}

.grid-footer {
  grid-template-columns: 2fr 1fr 1fr;
}

/* footer */

.copyright {
  background: var(--fourth-colour);
  color: var(--primary-color);
  padding: 25px;
  font-size: x-small;
}

.lauren {
  color: var(--footer-color);
  font-size: x-small;
  text-align: center;
}

@media (max-width: 600px) {
  .grid-gallery {
    display: none;
  }

  .grid-local {
    display: none;
  }

  .grid-map {
    grid-template-columns: 1fr;
  }

  .recommendations h2 {
    display: none;
  }

  section.recommendations {
    background-color: var(--third-color);
    padding-top: 5px;
    padding-bottom: 5px;
  }

  #gettingHere {
    display: none;
  }
}
